.camera {
    border: 10px solid #33333398;
    padding: 0,5px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: auto;
    overflow: hidden;
}


.textContainer {
  display: flex;
  flex-direction: row;
}

.textStatus{
  margin-right: 40px; 
  color: #1c42b4c5; 
  font-weight: bold;
  padding: 20px;
}

.textName {
  margin-right: 40px;
  margin-right: 40px; 
  color: #1c42b4c5; 
  font-weight: bold;
  padding: 20px; 
}
.textId {
  margin-right: 40px; 
}

.entrada {
  border-color: green;
}

.salida {
  border-color: red;
}
.notDetected {
  border-color: rgb(247, 243, 243);
}